.odd {
    background-color: pink;
    font-family: Verdana, 'DejaVu San', sans-serif;
}

.small {
    font-size: 24px;
}

#second-element {
    color: blue;
    font-size: 36px
}

#fourth-element {
    background-color: greenyellow;
    font-weight: bold;
}