.click1
.click2 {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}

.click1 {
    background-color: rgb(0, 0, 0);
    color: hsl(0, 0%, 100%)
}

.click2 {
    background-color: #FFDE21;
}